*.aux
*.log
*.out
*.synctex.gz
*.fls
*.fdb_latexmk
Ohio_State/Math_4580_Abstract_Algebra_I/notes/sample.pdf
Ohio_State/Math_4580_Abstract_Algebra_I/notes/sample.tex
.gitignore
*.json
.vscode/latex-helper.json
*homework*
practice/